<% content_for :title, "Agenda" %>

<% @schedules.group_by(&:day).each do |day, schedules| %>
  <div class="schedule-container">
    <div class="schedule-stage__wrapper">
      <section class="schedule-stage">
        <div class="schedule-stage__title">
          <h2>Day <%= day %></h2>
        </div>
        <% schedules.each do |schedule| %>
        <div class="schedule-stage_guide-container">
          <div class="guide-slot">
            <p>Time: <%= Time.at(schedule.time).strftime("%H:%M") %> </p>
            <div class="guide-slot_card">
              <h4>Description: <%= schedule.description %></h4>
            </div>
          </div>
        </div>
        <% end %>
        <hr class="divider" />
      </section>
    </div>
  </div>
<% end %>
