:root {
  --padding: 4rem;
  --border: hsl(0, 0%, 20%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: #ffffff;
  font-family: system-ui, sans-serif;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
}

.heading {
  line-height: 2;
  font-weight: 900;
}

.section-container {
  padding: var(--padding);
  a {
    color: #ffffff;
  }
}

.schedule-container {
  overflow: auto;
}

.schedule-stage__wrapper {
  display: inline-block;
}

.schedule-stage {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  gap: 2rem;
  padding-bottom: 5rem;
  padding-top: 2rem;
  min-width: 100vw;

  &::after {
    content: "";
    width: var(--padding);
  }
}

.divider {
  position: sticky;
  left: 0;
  border: none;
  border-bottom: 1px solid var(--border);
}

.schedule-stage:nth-child(1) > .schedule-stage__title > h3 {
  background: linear-gradient(to right, #eb3349, #f45c43);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.schedule-stage:nth-child(3) > .schedule-stage__title > h3 {
  background: linear-gradient(to right, #1d976c, #93f9b9);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.schedule-stage__title {
  position: sticky;
  left: 0;
  padding-right: 5rem;
  height: 100%;
  padding-left: var(--padding);
  background: linear-gradient(to right, #000000 30%, hsla(0, 0%, 0%, 0));
  & > h3 {
    font-weight: 900;
  }
}

.schedule-stage_guide-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 280px;
  gap: 2rem;
}

.guide-slot {
  color: hsl(0, 0%, 50%);
  & > p {
    margin-bottom: 1rem;
  }
}

.guide-slot_card {
  background: hsl(0, 0%, 4%);
  border: 1px solid var(--border);
  border-radius: 0.8rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding: 1.6rem;
  cursor: pointer;

  &:hover {
    border-color: hsl(0, 0%, 70%);
  }

  & > h4 {
    margin-right: 5rem;
    font-size: 1.4rem;
    color: #ffffff;
  }
}

.author-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  & > picture {
    display: inline-block;
    inline-size: 2.6rem;
    block-size: 2.6rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    border: 1px solid var(--border);
    & > img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }
  }
}
